# Python virtual environment
.venv/
venv/

# PyCharm
.idea/

# Python cache
__pycache__/
*.pyc

# Jupyter / temporary files
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Power BI temporary files
~$*.pbix

# Logs
*.log

# Generated datasets
data/processed/*.csv
